<div class="buttons-movie-filter">
    <a [routerLink]="['/polular']">
        <button class="waves-effect waves-light btn-small" type="submit">Popular</button>
    </a>
    <a [routerLink]="['/now_playing']">
        <button class="waves-effect waves-light btn-small" type="submit">Now Playing</button>
    </a>
    <a [routerLink]="['/top_rated']">
        <button class="waves-effect waves-light btn-small" type="submit">Top Rated</button>
    </a>
    <a [routerLink]="['/up_coming']">
        <button class="waves-effect waves-light btn-small" type="submit">Up Coming</button>
    </a>
</div>
<div class="main">
    <ul class="cards" *ngIf="moviesToShow == false">
        <li class="cards_item" *ngFor="let item of topRated?.results">
            <div class="card">
                <div>
                    <div *ngIf="item.backdrop_path == null" class="card_image">
                        <a  [routerLink]="['/movies',item.id]">
                            <img src="../../assets/noImageBig.jpg" />
                        </a>
                    </div>
                </div>
                <div *ngIf="item.backdrop_path != null" class="card_image">
                    <a  [routerLink]="['/movies',item.id]">
                        <img src="{{filepath}}{{item.poster_path}}" />
                    </a>
                </div>
            </div>
        </li>
        <li class="cards_item" *ngFor="let item of topRated?.results">
            <div *ngIf="loadingSecondCard == true" class="card">
                2
                <div>
                    <div *ngIf="item.backdrop_path == null" class="card_image">
                        <a [routerLink]="['/movies',item.id]">
                            <img src="../../assets/noImageBig.jpg" />
                        </a>
                    </div>
                </div>
                <div *ngIf="item.backdrop_path != null" class="card_image">
                    <a  [routerLink]="['/movies',item.id]">
                        <img src="{{filepath}}{{item.poster_path}}" />
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div *ngIf="moviesToShow == true">
    <ul class="cards">
        <li class="cards_item" *ngFor="let item of movies?.results">
            <div class="card">
                <div>
                    <div *ngIf="item.backdrop_path == null" class="card_image">
                        <a  [routerLink]="['/movies',item.id]">
                            <img src="../../assets/noImageBig.jpg" />
                        </a>
                    </div>
                </div>
                <div *ngIf="item.backdrop_path != null" class="card_image">
                    <a  [routerLink]="['/movies',item.id]">
                        <img src="{{filepath}}{{item.poster_path}}" />
                    </a>
                </div>
            </div>
        </li>
        <li class="cards_item" *ngFor="let item of movies?.results">
            <div *ngIf="loadingSecondCard == true" class="card">
                2
                <div>
                    <div *ngIf="item.backdrop_path == null" class="card_image">
                        <a  [routerLink]="['/movies',item.id]">
                            <img src="../../assets/noImageBig.jpg" />
                        </a>
                    </div>
                </div>
                <div *ngIf="item.backdrop_path != null" class="card_image">
                    <a  [routerLink]="['/movies',item.id]">
                        <img src="{{filepath}}{{item.poster_path}}" />
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

