
.brand-logo {
    text-decoration: none;
    margin-left: 5px;
}

.movies {
    text-decoration: none;
}

.navbar-fixed {
    margin-bottom: 0px;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.search-results {
  color: white;
  background-color: black;
  padding-left: 15px;
  h2 {
     margin: 0px; 
  }
}
