<div class="navbar-fixed">
  <nav id='nav' class="black">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img width="215px" src="../../assets/tmdb.svg" alt=""></a>
      <ul>
       <app-search></app-search>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a class="movies" id="movies" href="#">Movies</a></li>
        <li><a target="_blank" href="https://github.com/domuserk"><i id="git" class="fa fa-github fa-2x"></i></a></li>
        <li><a id="sign" class="waves-effect waves-light btn " [routerLink]="['/login']">Sign in</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="search-results">
  <h2 *ngIf="moviesSearch">Resultados de busca para {{moviesSearch}}</h2>
</div>
