link (rel = "stylesheet" href = "button-tootle.css")

.wrap
 %input{:type => "checkbox"}/
 .totoro
  .ears
   -2.times do
    .ear
  -2.times do
   .arm
  .foot
  .foot.two
  .body
   .spots
    -7.times do
     .spot
   .inner
    .mouth
    -2.times do
     .eye